<a href="https://colab.research.google.com/github/thecont1/class-sharing/blob/main/Pandas5_classnotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

data = pd.read_csv('datasets/Pfizer_1.csv')

data_melt = pd.melt(data,id_vars = ['Date', 'Drug_Name', 'Parameter'],
            var_name = "time",
            value_name = 'reading')

data_tidy = data_melt.pivot(index=['Date','time', 'Drug_Name'],
                                        columns = 'Parameter',
                                        values='reading')
data_tidy = data_tidy.reset_index()
data_tidy.columns.name = None

In [6]:
data.head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20

In [7]:
data_melt.head()

         Date                Drug_Name    Parameter     time  reading
0  15-10-2020  diltiazem hydrochloride  Temperature  1:30:00     23.0
1  15-10-2020  diltiazem hydrochloride     Pressure  1:30:00     12.0
2  15-10-2020      docetaxel injection  Temperature  1:30:00      NaN
3  15-10-2020      docetaxel injection     Pressure  1:30:00      NaN
4  15-10-2020   ketamine hydrochloride  Temperature  1:30:00     24.0

In [8]:
data_tidy.head()

         Date      time                Drug_Name  Pressure  Temperature
0  15-10-2020  10:30:00  diltiazem hydrochloride      18.0         20.0
1  15-10-2020  10:30:00      docetaxel injection      26.0         23.0
2  15-10-2020  10:30:00   ketamine hydrochloride       9.0         22.0
3  15-10-2020  11:30:00  diltiazem hydrochloride      19.0         20.0
4  15-10-2020  11:30:00      docetaxel injection      29.0         25.0

In [9]:
# NAN (Not a number)
type(np.nan)

float

In [10]:
type(None)

NoneType

- **None** in **Non-numeric columns**: None can be used directly, and it will appear as **None**.
- None in Numeric columns: Pandas automatically converts None to NaN.
- NaN in Numeric columns: NaN is used to represent missing values and appears as NaN.
- NaN in Non-numeric Columns: NaN can be used, and it appears as NaN.

In [11]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [12]:
pd.Series(["1", "np.nan", "2", None])

0         1
1    np.nan
2         2
3      None
dtype: object

In [13]:
data.isna().head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False

In [14]:
data.isnull().head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False

In [15]:
pd.isna

In [16]:
pd.isnull

In [17]:
data.isna().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [18]:
data.isna().sum(axis = 1)

0     1
1     1
2     4
3     4
4     3
5     3
6     1
7     1
8     1
9     1
10    2
11    2
12    1
13    1
14    0
15    0
16    0
17    0
dtype: int64

In [19]:
# Customer_Name, Ph_No., Items, Cost, Date

In [20]:
data.dropna().head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [21]:
data.dropna(axis=1)

,Date,Drug_Name,Parameter,6:30:00,10:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,22,20,21
1,15-10-2020,diltiazem hydrochloride,Pressure,14,18,20
2,15-10-2020,docetaxel injection,Temperature,18,23,25
3,15-10-2020,docetaxel injection,Pressure,23,26,28
4,15-10-2020,ketamine hydrochloride,Temperature,26,22,20
5,15-10-2020,ketamine hydrochloride,Pressure,9,9,11
6,16-10-2020,diltiazem hydrochloride,Temperature,38,40,42
7,16-10-2020,diltiazem hydrochloride,Pressure,23,24,27
8,16-10-2020,docetaxel injection,Temperature,49,56,58
9,16-10-2020,docetaxel injection,Pressure,27,28,30
10,16-10-2020,ketamine hydrochloride,Temperature,12,13,15
11,16-10-2020,ketamine hydrochloride,Pressure,15,16,18
12,17-10-2020,diltiazem hydrochloride,Temperature,16,14,10
13,17-10-2020,diltiazem hydrochloride,Pressure,8,11,14
14,17-10-2020,docetaxel injection,Temperature,17,21,23
15,17-10-2020,docetaxel injection,Pressure,23,28,28
16,17-10-2020,ketamine hydrochloride,Temperature,18,22,24
17,17-10-2020,ketamine hydrochloride,Pressure,12,13,15

In [22]:
# 100, 300, 150, 300, 350, NAN

# 100, 300, 150, 300, 350, 0 -> Average cost = (100 + 300 + 150 + 300 + 350 + 0) / 6 = 200

# 100, 300, 150, 300, 350, 240 (Mean)


# 100, 300, 150, 30000, 350, 6180(Mean) -> Median

# Mean, Median & Mode

In [23]:
data_tidy_2 = data_melt.pivot(index=['Date','time', 'Drug_Name'],
                                        columns = 'Parameter',
                                        values='reading')
data_tidy_2

Parameter                                    Pressure  Temperature
Date       time     Drug_Name
15-10-2020 10:30:00 diltiazem hydrochloride      18.0         20.0
                    docetaxel injection          26.0         23.0
                    ketamine hydrochloride        9.0         22.0
           11:30:00 diltiazem hydrochloride      19.0         20.0
                    docetaxel injection          29.0         25.0
...                                               ...          ...
17-10-2020 8:30:00  docetaxel injection          26.0         19.0
                    ketamine hydrochloride       11.0         20.0
           9:30:00  diltiazem hydrochloride       9.0         13.0
                    docetaxel injection          27.0         20.0
                    ketamine hydrochloride       12.0         21.0

[108 rows x 2 columns]

In [24]:
data_tidy_2 = data_tidy_2.reset_index()
data_tidy_2

Parameter,Date,time,Drug_Name,Pressure,Temperature
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0
...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0

In [25]:
data_tidy_2.columns.name = None
data_tidy_2

           Date      time                Drug_Name  Pressure  Temperature
0    15-10-2020  10:30:00  diltiazem hydrochloride      18.0         20.0
1    15-10-2020  10:30:00      docetaxel injection      26.0         23.0
2    15-10-2020  10:30:00   ketamine hydrochloride       9.0         22.0
3    15-10-2020  11:30:00  diltiazem hydrochloride      19.0         20.0
4    15-10-2020  11:30:00      docetaxel injection      29.0         25.0
..          ...       ...                      ...       ...          ...
103  17-10-2020   8:30:00      docetaxel injection      26.0         19.0
104  17-10-2020   8:30:00   ketamine hydrochloride      11.0         20.0
105  17-10-2020   9:30:00  diltiazem hydrochloride       9.0         13.0
106  17-10-2020   9:30:00      docetaxel injection      27.0         20.0
107  17-10-2020   9:30:00   ketamine hydrochloride      12.0         21.0

[108 rows x 5 columns]

In [26]:
data.head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20

In [27]:
data.fillna(0).head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,0.0,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,0.0,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,0.0,17.0,18.0,0.0,17.0,18,0.0,0.0,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,0.0,22.0,22.0,0.0,22.0,23,0.0,0.0,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,0.0,0.0,27.0,0.0,26,25.0,24.0,23.0,22,21.0,20

In [28]:
data['2:30:00'].fillna(0).head()

0    22.0
1    13.0
2    17.0
3    22.0
4     0.0
Name: 2:30:00, dtype: float64

In general practice (assuming you have a large dataset) -

- if the missing values are minimal (<5% of rows), dropping them is acceptable.
- for substantial missing values (>10% of rows), use a suitable imputation technique.
- if a column has over 50% of null values, drop that column (unless it's very crucial for the analysis).

In [29]:
# Mean

data['2:30:00'].mean()

18.8125

In [30]:
# data['2:30:00'].fillna(data['2:30:00'].mean()).head()

m = data['2:30:00'].mean()
data['2:30:00'].fillna(m)

0     22.0000
1     13.0000
2     17.0000
3     22.0000
4     18.8125
5     18.8125
6     35.0000
7     19.0000
8     47.0000
9     24.0000
10     9.0000
11    12.0000
12    19.0000
13     4.0000
14    13.0000
15    22.0000
16    14.0000
17     9.0000
Name: 2:30:00, dtype: float64

In [31]:
def temp_mean(x):
  x['Temperature_avg'] = x['Temperature'].mean()
  return x

In [32]:
data_tidy = data_tidy.groupby(["Drug_Name"], group_keys=False).apply(temp_mean)
data_tidy

/var/folders/8l/f2jwk87j66l_vsfyrwt7gly00000gn/T/ipykernel_16650/1384129519.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_tidy = data_tidy.groupby(["Drug_Name"], group_keys=False).apply(temp_mean)

,Date,time,Drug_Name,Pressure,Temperature,Temperature_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097
...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677

In [33]:
data_tidy['Temperature'].fillna(data_tidy["Temperature_avg"], inplace=True)
data_tidy

/var/folders/8l/f2jwk87j66l_vsfyrwt7gly00000gn/T/ipykernel_16650/2124651482.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_tidy['Temperature'].fillna(data_tidy["Temperature_avg"], inplace=True)

,Date,time,Drug_Name,Pressure,Temperature,Temperature_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097
...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677

In [34]:
data_tidy.isna().sum()

Date                0
time                0
Drug_Name           0
Pressure           13
Temperature         0
Temperature_avg     0
dtype: int64

In [35]:
def pr_mean(x):
  x['Pressure_avg'] = x['Pressure'].mean()
  return x

data_tidy = data_tidy.groupby(["Drug_Name"], group_keys = False).apply(pr_mean)
data_tidy['Pressure'].fillna(data_tidy["Pressure_avg"], inplace=True)
data_tidy

/var/folders/8l/f2jwk87j66l_vsfyrwt7gly00000gn/T/ipykernel_16650/914594924.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_tidy = data_tidy.groupby(["Drug_Name"], group_keys = False).apply(pr_mean)
/var/folders/8l/f2jwk87j66l_vsfyrwt7gly00000gn/T/ipykernel_16650/914594924.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_tidy['Pressure'].fillna(data_tidy["Pressure_avg"], inplace=True)

,Date,time,Drug_Name,Pressure,Temperature,Temperature_avg,Pressure_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871
...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484

In [36]:
data_tidy.isna().sum()

Date               0
time               0
Drug_Name          0
Pressure           0
Temperature        0
Temperature_avg    0
Pressure_avg       0
dtype: int64

In [37]:
sample = pd.Series(['1', '2', '3', np.NaN, None])
sample.fillna(0)

0    1
1    2
2    3
3    0
4    0
dtype: object

In [38]:
 CustomerID   |  TransactionAmount  |     Gender     |  Age  |  ProductCategory  |
|----------------|---------------------|----------------|-------|-------------------|
|       101      |         20          |     Male       |   35  |       Apparel     |
|       102      |        NaN          |     Female     |   28  |       NaN         |
|       103      |         15          |     Female     |  NaN  |       Electronics |
|       104      |         30          |     NaN        |   42  |       Electronics |
|       105      |        150          |     Male       |   30  |       Apparel     |

SyntaxError: invalid syntax (4056009385.py, line 1)

- Imputing missing values in the "TransactionAmount" column using the mean of the available values may not be suitable due to potential skewness caused by outliers.
- Imputing missing values in the "TransactionAmount" column using the median of the available values may be suitable to handle skewness due to outliers.
- The presence of missing values in the "Gender" column can be effectively handled by imputing the most frequent category (mode).

In [ ]:
# How can you filter rows containing "hydrochloride" in their drug name?

In [ ]:
data_tidy.head()

,Date,time,Drug_Name,Pressure,Temperature,Temperature_avg,Pressure_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871

In [ ]:
data_tidy['Drug_Name']

0      diltiazem hydrochloride
1          docetaxel injection
2       ketamine hydrochloride
3      diltiazem hydrochloride
4          docetaxel injection
                ...
103        docetaxel injection
104     ketamine hydrochloride
105    diltiazem hydrochloride
106        docetaxel injection
107     ketamine hydrochloride
Name: Drug_Name, Length: 108, dtype: object

In [ ]:
data_tidy['Drug_Name'].str.contains('hydrochloride')

0       True
1      False
2       True
3       True
4      False
       ...
103    False
104     True
105     True
106    False
107     True
Name: Drug_Name, Length: 108, dtype: bool

In [ ]:
data_tidy.loc[data_tidy['Drug_Name'].str.contains('hydrochloride')].head()

,Date,time,Drug_Name,Pressure,Temperature,Temperature_avg,Pressure_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242
5,15-10-2020,11:30:00,ketamine hydrochloride,9.0,21.0,17.709677,11.935484
6,15-10-2020,12:30:00,diltiazem hydrochloride,20.0,21.0,24.848485,15.424242

In [ ]:
data_tidy["Date"].str.split("-")

0      [15, 10, 2020]
1      [15, 10, 2020]
2      [15, 10, 2020]
3      [15, 10, 2020]
4      [15, 10, 2020]
            ...
103    [17, 10, 2020]
104    [17, 10, 2020]
105    [17, 10, 2020]
106    [17, 10, 2020]
107    [17, 10, 2020]
Name: Date, Length: 108, dtype: object

In [ ]:
d = data_tidy["Date"].str.split("-")
d.apply(lambda x: x[2])

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

In [ ]:
data_tidy.head()

,Date,time,Drug_Name,Pressure,Temperature,Temperature_avg,Pressure_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871

In [ ]:
data_tidy['timestamp'] = data_tidy["Date"] +" "+ data_tidy["time"]
data_tidy

,Date,time,Drug_Name,Pressure,Temperature,Temperature_avg,Pressure_avg,timestamp
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,15-10-2020 10:30:00
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871,15-10-2020 10:30:00
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,15-10-2020 10:30:00
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,15-10-2020 11:30:00
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871,15-10-2020 11:30:00
...,...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871,17-10-2020 8:30:00
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,17-10-2020 8:30:00
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,17-10-2020 9:30:00
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871,17-10-2020 9:30:00
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,17-10-2020 9:30:00

In [ ]:
data_tidy.drop(['Date', 'time'], axis = 1, inplace = True)
data_tidy

,Drug_Name,Pressure,Temperature,Temperature_avg,Pressure_avg,timestamp
0,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,15-10-2020 10:30:00
1,docetaxel injection,26.0,23.0,30.387097,25.483871,15-10-2020 10:30:00
2,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,15-10-2020 10:30:00
3,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,15-10-2020 11:30:00
4,docetaxel injection,29.0,25.0,30.387097,25.483871,15-10-2020 11:30:00
...,...,...,...,...,...,...
103,docetaxel injection,26.0,19.0,30.387097,25.483871,17-10-2020 8:30:00
104,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,17-10-2020 8:30:00
105,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,17-10-2020 9:30:00
106,docetaxel injection,27.0,20.0,30.387097,25.483871,17-10-2020 9:30:00
107,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,17-10-2020 9:30:00

In [ ]:
dt = data_tidy['timestamp'][0]
dt

'15-10-2020 10:30:00'

In [ ]:
type(dt)

str

In [ ]:
data_tidy['timestamp'] = pd.to_datetime(data_tidy['timestamp'])
data_tidy['timestamp']

<ipython-input-87-de47fd44fb7d>:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_tidy['timestamp'] = pd.to_datetime(data_tidy['timestamp'])

0     2020-10-15 10:30:00
1     2020-10-15 10:30:00
2     2020-10-15 10:30:00
3     2020-10-15 11:30:00
4     2020-10-15 11:30:00
              ...
103   2020-10-17 08:30:00
104   2020-10-17 08:30:00
105   2020-10-17 09:30:00
106   2020-10-17 09:30:00
107   2020-10-17 09:30:00
Name: timestamp, Length: 108, dtype: datetime64[ns]

In [ ]:
dt = data_tidy['timestamp'][0]
dt

Timestamp('2020-10-15 10:30:00')

In [ ]:
dt.year

2020

In [ ]:
dt.month

10

In [ ]:
dt.month_name()

'October'

In [ ]:
dt.hour

10

In [ ]:
dt.minute

30

In [ ]:
dt.time()

datetime.time(10, 30)

In [ ]:
dt.timestamp()

1602757800.0

In [ ]:
data_tidy['timestamp'].sort_values()

9    2020-10-15 01:30:00
10   2020-10-15 01:30:00
11   2020-10-15 01:30:00
13   2020-10-15 02:30:00
12   2020-10-15 02:30:00
             ...
75   2020-10-17 11:30:00
76   2020-10-17 11:30:00
79   2020-10-17 12:30:00
78   2020-10-17 12:30:00
80   2020-10-17 12:30:00
Name: timestamp, Length: 108, dtype: datetime64[ns]

In [ ]:
df = pd.DataFrame([[1, '2020-01-01'], [2, '1998-01-12'], [3, '2012-11-05'],
                   [4, '2000-12-03'], [5, '1960-04-23'], [6, '2008-08-15']],
                    columns=["ID", "birth_dates"])
df

   ID birth_dates
0   1  2020-01-01
1   2  1998-01-12
2   3  2012-11-05
3   4  2000-12-03
4   5  1960-04-23
5   6  2008-08-15

In [ ]:
# df.iloc[2]['birth_dates'].year - df.iloc[1]['birth_dates'].year
# 2012 - 1998 = 14

AttributeError: 'str' object has no attribute 'year'

In [ ]:
data_tidy.to_csv('pfizer_tidy.csv', sep=",", index=False)